#app-outline{
  width: 400px;
  padding: 10px 0 20px 0;
  background-color: #deebf4;
  border: solid black;
  border-radius: 20px;
}
body{
  text-align: center;
  margin: 10%;
  font-family: 'Hepta Slab', serif;
}
button{
  background-color: white;
  margin: 5px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-size: 150%;
}
form input{
  padding: 5px;
  margin: 5px;
  width: 40%;
}
#info{
  margin: 10px 30px;
  text-align: left;
}
span{
  font-size: 150%;
}
